<!DOCTYPE html>
<div class="aside_content">

    <!-- 左侧导航 -->
    <div class="content-left">

        <!-- 左侧导航-路由设置 -->
        <div class="content-left-lysz content-left-common">
            <div>路由设置</div>
            <a href="#/lysz" class="content-left-a content-left-lysz-a">路由设置</a>
        </div>

        <!-- 左侧导航-开发者管理 -->
        <div class="content-left-kfzgl content-left-common">
            <div>开发者管理</div>
            <a href="#/kfzgl" class="content-left-a content-left-kfzgl-a">开发者管理</a>
        </div>

        <!-- 左侧导航-服务设置 -->
        <div class="content-left-fwsz content-left-common">
            <div>服务设置</div>
            <a href="#/dzcj" class="content-left-a content-left-dzcj-a">地址采集</a>
            <a href="#/tcdz" class="content-left-a content-left-tcdz-a">透传地址</a>
        </div>

        <!-- 左侧导航-权限设置 -->
        <div class="content-left-qxsz content-left-common">
            <div>权限设置</div>
            <a href="#/zygl" class="content-left-a content-left-zygl-a">资源管理</a>
            <a href="#/sqfw" class="content-left-a content-left-sqfw-a">授权服务</a>
        </div>

        <!-- 左侧导航-限速设置 -->
        <div class="content-left-xssz content-left-common">
            <div>限速设置</div>
            <a href="#/clgl" class="content-left-a content-left-clgl-a">策略管理</a>
        </div>

    </div>
</div>