<!DOCTYPE html>
<div class="header_content">
    <div class="content-top">
        <h2 class="content-top-left">智能加密路由网关</h2>
        <div class="content-top-right">
            <div class="content-top-right-touxinag"><img src="../../images/touxiang.png" alt="头像"></div>
            <div class="content-top-right-mingcheng">admin</div>
            <a href="#/login" class="content-top-right-tuichu">
                <img src="../../images/tuichu.png" alt="退出" class="header_out">
            </a>
        </div>
    </div>
</div>